@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/*margenes*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/*BODY*/
body {
  background-color: rgb(236, 242, 248);
}

/*background-color: rgb(236,242,248);*/
/*navegador*/
.navegador {
  background-color: #0077ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-oyf {
  width: 70px;
  height: 70px;
  object-fit: cover;
  align-items: start;
  margin: 7px;
}

.navegador ul {
  list-style: none;
  display: flex;
}

.navegador ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  font-size: 20px;
}

.fa-bars {
  margin: 10px;
  font-size: 30px;
  color: white;
  display: none;
}

@media (max-width: 768px) {
  .navegador .fa-bars {
    display: block;
    order: -1;
  }
  .navegador .fa-bars:hover + ul {
    left: 0;
  }
  .navegador ul {
    position: fixed;
    top: 0;
    left: -300px;
    width: 250px;
    height: 100vh;
    background-color: white;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    transition: 0, 5s;
    z-index: 4;
  }
  .navegador ul:hover {
    left: 0;
  }
  .navegador ul li a {
    color: black;
  }
}
/*fin del navegador*/
/*buscador y filtros*/
.inPut {
  font: inherit;
}

.sectIon {
  min-height: 20vh;
  display: flex;
  align-items: center;
}

.foRm {
  margin: auto;
}

.foRm > dIv {
  display: flex;
  background: #fff;
  padding: 9px 22px 9px 22px;
  border-radius: 30px;
  border: 2px solid #cad3dc;
}

.foRm .inPut {
  border: none;
  background: transparent;
  font-weight: bold;
  padding-left: 24px;
  background-image: url(../multimedia/img/logos/lupaaa.png);
  background-size: 20px;
  background-position-y: center;
  background-repeat: no-repeat;
  width: 0px;
  transition: all 1s;
}

.foRm .inPut:focus {
  outline: none;
  width: 300px;
}

/*
<div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d105421.51491801359!2d-58.85891069451123!3d-34.33972784955462!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bb61ad1ddf8915%3A0x70f239e49e8c37af!2sBel%C3%A9n%20de%20Escobar%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1687992472818!5m2!1ses-419!2sar" width="60" height="50" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
*/
/*filtros*/
.orden-publicar {
  width: 30%;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 1360px) {
  .orden-publicar {
    width: 50%;
    padding: 0 100px;
  }
}
@media (max-width: 1136px) {
  .orden-publicar {
    width: 50%;
    padding: 0 40px;
  }
}
@media (max-width: 896px) {
  .orden-publicar {
    width: 50%;
    padding: 0 0px;
  }
}
@media (max-width: 738px) {
  .orden-publicar {
    width: 60%;
    padding: 0 0px;
  }
}
@media (max-width: 613px) {
  .orden-publicar {
    width: 80%;
    padding: 0 0px;
  }
}
@media (max-width: 460px) {
  .orden-publicar {
    width: 100%;
    padding: 0 0px;
  }
}

.tiposdeservicios {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
.tiposdeservicios div {
  display: inline-block;
  margin: 5px 10px 40px 10px;
  font-size: 70px;
  transition: text-shadow 0.3s ease, color 0, 3s ease;
  position: relative;
}
.tiposdeservicios div a.tdsenlaces {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: transparent;
}
.tiposdeservicios div i {
  position: relative;
  z-index: 2;
}
.tiposdeservicios div:hover {
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  color: rgb(95, 94, 94);
}

.publicar {
  text-align: center;
  font-size: 60px;
  margin: 50px;
}
@media (max-width: 330px) {
  .publicar {
    font-size: 45px;
  }
}

/*portada*/
.slide {
  margin: 15px 0 15px 0;
}
@media (max-width: 768px) {
  .slide {
    z-index: 1;
  }
}

.slide img {
  height: auto;
  object-fit: cover;
}

.destacados {
  margin-left: 17px;
}

/*portada y cartas*/
.orden-tarjetas {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.tarjeta {
  width: 210px;
  height: 350px;
  border: 2px solid white;
  padding: 5px;
  margin: 18px;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(158, 156, 156, 0.954);
  overflow: hidden;
  cursor: default;
  transition: all 400ms ease;
}
.tarjeta:hover {
  box-shadow: 0px 0px 10px 7px rgba(158, 156, 156, 0.954);
}

.imagen-tarjeta {
  width: 195px;
  height: 195px;
  object-fit: cover;
  justify-content: center;
}

.bordes-redondeados {
  border-radius: 10px;
}

/*footer*/
.pie-de-pagina {
  background-color: #0077ff;
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 15px;
}

.pie-de-pagina .info-ayuda {
  width: auto;
  text-align: center;
}

.pie-de-pagina .privacidad {
  width: auto;
  text-align: center;
}

.pie-de-pagina .contactanos {
  width: auto;
  text-align: center;
}

.pie-de-pagina .contactanos .coder {
  color: white;
}

@media (max-width: 920px) {
  .pie-de-pagina {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
  .pie-de-pagina .contactanos {
    grid-column: 2;
    grid-row: 1;
  }
}
@media (max-width: 620px) {
  .pie-de-pagina {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
  .pie-de-pagina .contactanos {
    grid-column: auto;
    grid-row: 3;
  }
}
/*CHAT*/
/*INICIO DE SESION*/
.maIn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.maIn form {
  padding: 50px;
  display: flex;
  flex-direction: column;
  width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  background-color: #eeeeee;
}
.maIn form h2 {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  color: #2e2e2e;
  margin-bottom: 25px;
}
.maIn form label {
  font-size: 17px;
  color: #575757;
  margin-bottom: 10px;
}
.maIn form input {
  padding: 17px;
  border: 1px solid #cad3dc;
  margin-bottom: 25px;
  background-color: #fafafc;
  outline: none;
  color: #0077ff;
  font-size: 17px;
}
.maIn form .btn-1 {
  background-color: #0077ff;
  font-size: 15px;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}
.maIn form .btn-1:hover {
  background-color: #0077ff;
}
.maIn form .remember {
  font-size: 17px;
  color: #575757;
  text-decoration: underline;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.maIn form .remember:hover {
  color: #0077ff;
}

@media (max-width: 440px) {
  .maIn {
    padding: 30px;
  }
  .maIn form {
    width: 100%;
  }
}
.background {
  background-image: linear-gradient(135deg, #00b7d4, #505488, #2f3f80, #161569, #5a4894, #a950a1, #ff7cae);
  background-size: 500%;
  animation: fanimado 10s infinite;
}

@keyframes fanimado {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0%;
  }
}
/*INICIO-SESION*/
/*
    grid-column:
    grid-row:

.grid-sesion{
    display: grid;
    margin: 10px;
    gap: 10px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,100px);
    grid-template-areas: "img1 img2 img4 img5"
                         "img1 img3 img4 img6"
                         "img14 img0 img0 img6"
                         "img13 img0 img0 img7"
                         "img13 img11 img10 img8"
                         "img12 img11 img9 img8";

}
.grid-sesion img{
    width: 100%;
    height: 100px;
    object-fit: cover;
}
*/
/*@media(max-width:1400px){
    .cajaColores{
        background-color:brown;
        width:50%
    }
} 
*@media(min-width:576px){
    .cajaColores{
        background-color:brown;
        width:50%
    }
} 
*/
/*caja
.caja{
    width: 200px;
    height: auto;
    background-color: chartreuse;
}
*/

/*# sourceMappingURL=style.css.map */
